@model Dish

<div style="text-align: center;">
    <form asp-action="CreateDish" asp-controller="Dish" method="POST"
        style="display: flex; justify-content: space-evenly;">
        <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name">
            <label asp-for="Calories"></label>
            <span asp-validation-for="Calories"></span>
            <input asp-for="Calories">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <select style="display: flex; flex-direction: column; justify-content: space-evenly;" asp-for="ChefId">
                @foreach (Chef chef in ViewBag.chefs)
                {
                <option value="@chef.ChefId">@chef.FirstName</option>
                    
                
                }
            </select>
            <button type="submit">Add dish</button>
        </div>
    </form>
</div>